.sec1 {
  background-color: #ff4d4d;
  height: 800px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.sec2 {
  background-color: #ffaf40;
  height: 800px;
  padding-top: 20px;
}

.sec3 {
  background-color: #fffa65;
  height: 800px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.sec4 {
  background-color: #A3CB38;
  height: 800px;
  height: 800px;
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;

}

.hidden{
  opacity: 0;
}
