* {
  margin: 0;
  padding: 0;
}

.product{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  width: 200px;
  height: 300px;
}

.product img {
  width: 100%;
}




